@model IEnumerable<WebApplication1.Models.User_Data>
@{
	ViewData["Title"] = "Users";
}
<!DOCTYPE html>
 
<html>
<head>
	<title>Users</title>
</head>
<body>
	<h3>Users</h3>
	<table>
		<tr>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>mail</td>
			<td>password</td>
			<td>Id</td>
			<td></td>
		</tr>
	@foreach (var user_data in Model)
	{
		<tr>
			<td>@user_data.Name</td>
			<td>@user_data.Last_Name</td>
			<td>@user_data.mail</td>
			<td>@user_data.password</td>
			<td>@user_data.Id</td>
		</tr>
	}
	</table>
</body>
</html>
