@model IEnumerable<ToDoBook.Storage.Entity.Diary>
@{
    ViewData["Title"] = "User's Diary";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>User's Diary</title>

</head>
<body>
    <h3>User's Diary</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>Описание</td>
            <td>ID</td>
            <td></td>
        </tr>
        @foreach (var user_data in Model)
        {
	<tr>
		<td>@user_data.Name</td>
		<td>@user_data.Description</td>
		<td>@user_data.ID</td>
		<td>
			<a asp-action="Show_Entry" asp-route-id="@user_data.ID">Edit</a> |
			<a asp-action="Delete" asp-route-id="@user_data.ID">Delete</a>
		</td>
	</tr>
}
    </table>
</body>
</html>
